{% extends 'base.html' %}

{% block title %}Transaction{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="card border-dark">
  <div class="card-header h3">{{ message }}</div>
  <div class="card-body">
    <form action="{% url 'transactions:transaction_form' %}" method="post">
      {% csrf_token %}
      {{ form.media }}
      {% crispy form %}
    </form>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
  $(function () {
    $("#id_date").datepicker({
      format: 'mm/dd/yyyy',
    });
  });
</script>
{% endblock %}